<component name="libraryTable">
  <library name="server">
    <CLASSES>
      <root url="jar://$USER_HOME$/Downloads/asdfsdf/All/Everything/Games/Minecraft/Servers/Normal 1.8.8 Server/server.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$USER_HOME$/Downloads/asdfsdf/All/Everything/Games/Minecraft/Servers/Normal 1.8.8 Server/server.jar!/" />
    </SOURCES>
  </library>
</component>